.card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cardFooter__addCard {
  color: green;

  &:hover,
  &span:hover {
    color: #2148d9;
  }

  &:active {
    background-color: rgb(17 34 51 / 13.3%);
    border-radius: 0.4rem;
    border: 1px rgb(17 34 51 / 13.3%) solid;
    padding: 0 9px;
    box-shadow: inset 0 0 2px;
    margin: -1px -10px;
  }
}

.cardFooter__addFile {
  position: relative;
  bottom: -7px;

  &:active {
    background-color: rgb(17 34 51 / 13.3%);
    border-radius: 0.4rem;
    border: 1px rgb(17 34 51 / 13.3%) solid;
    box-shadow: inset 0 0 2px;
    padding: 0 5px;
    margin: -1px -6px;
    max-height: 33px;
  }
}
